<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /  # Set the base URL to the root of your domain
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
